*{
    box-sizing: border-box;
}

html body{
    margin: 0;
    padding: 0;
}

.fullscreen-container{
    background-image: url(./assets/sunset_image.jpeg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    background-color: hsla(14, 96%, 40%, 0.6);
    padding: 70px 100px;
    margin: 50px;
    min-width: 400px;
    width: 50%;
    max-width: 600px;
}

.title-text{
    color: white;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    font-size: 2.5em;
    font-weight: normal;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group label{
    color: white;
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 8px;
}

.input-group input{
    background-color: hsla(14, 90%, 32%, 0.9);
    border: none;
    outline: none;
    padding: 0.4em 0.25em;
    border: 1px solid hsla(14, 92%, 19%, 0.8);
    border-radius: 2px;
    font-size: 20px;
    font-weight: normal;
}

.input-group input:focus{
    border: 1px solid hsla(14, 92%, 40%);
}

.login-button{
    background-color: hsla(14, 90%, 30%);
    border: 2px solid hsla(14, 98%, 11%);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 0.8em 2em;
    width: 100%;
    margin-top: 16px;
    color: white;
    font-weight: normal;
    font-size: 1.2em;
}

.login-button:hover{
    background-color: hsla(14, 98%, 11%);
}

